// =================
// DEFAULT FOCUS STYLES
// =================

a:focus,
button:focus,
input:focus {
    outline: 5px solid $brand-secondary;
}

// =================
// FOCUS-VISIBLE POLYFILL
// =================

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.js-focus-visible .focus-visible {
}

// =================
// EXCEPTIONS
// =================

// sections excluded from the tabindex
[tabindex='-1']:focus {
    outline: none !important;
}

// the skip link is only visible on focus
.sr-skip-link:focus {
    outline: none;
}

// links that are both focused AND hovered
a:focus:hover {
    outline: none;
}
