// Main Site Layout

body {
    overflow-x: hidden;
    transition: color 0.15s, background-color 0.15s;

    @include mq-down(lg) {
        &.no-scroll {
            height: 100vh;
            overflow: hidden;
        }
    }
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    transition: transform 0.3s $animation-curve-default;
    padding-top: env(titlebar-area-height, 0);

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;

    &--narrow {
        max-width: $container-narrow-max-width;
    }
}
