// GLOBAL DYNAMIC PROPERTIES (THEMING)

// Light Color Scheme
@mixin light-color-scheme() {
    --bg-color: #{$bg-color};
    --bg-color-semitransparent: #{$bg-color-semitransparent};
    --bg-color-secondary: #{$bg-color-secondary};
    --text-color: #{$text-color};
    --text-color-secondary: #{$text-color-secondary};
    --border-color: #{$border-color};
    --brand-color-primary: #{$brand-color-primary};
    --brand-color-primary-offset: #{$brand-color-primary-offset};
    --brand-color-secondary: #{$brand-color-secondary};
}

// Dark Color Scheme
@mixin dark-color-scheme() {
    --bg-color: #1d1f21;
    --bg-color-semitransparent: rgba(33, 33, 33, 0.75);
    --bg-color-secondary: #252526;
    --text-color: #ffffff;
    --text-color-secondary: #818a91;
    --border-color: #2d2d2d;
    --brand-color-primary: #{lighten($brand-red, 6%)};
    --brand-color-primary-offset: #{darken($brand-red, 2%)};
    --brand-color-secondary: #{$brand-cyan};
}

:root {
    --color-scheme: 'light';
    @include light-color-scheme();

    @media (prefers-color-scheme: dark) {
        --color-scheme: 'dark';
    }

    &.theme-dark {
        @include dark-color-scheme();
    }
}
