// GLOBAL COLORS (THEMING)

// Light Color Scheme
@mixin color-scheme-default() {
    --color-bg: #ffffff;
    --color-bg-offset: #f7f7f9;
    --color-text: #373a3c;
    --color-text-offset: #818a91;
    --color-border: #eceeef;
    --color-primary: #ff335f;
    --color-primary-offset: #ff1447;
    --color-secondary: #43a9a3;
}

// Dark Color Scheme
@mixin color-scheme-dark() {
    --color-bg: #1d1f21;
    --color-bg-offset: #252526;
    --color-text: #ffffff;
    --color-text-offset: #818a91;
    --color-border: #2d2d2d;
    --color-primary: #ff5277;
    --color-primary-offset: #ff2957;
    --color-secondary: #43a9a3;
}

:root {
    @include color-scheme-default();

    &[data-theme='dark'] {
        @include color-scheme-dark();
    }
}
