h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
}

h1 {
    font-size: 2.5rem;
    font-family: $font-family-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h2,
.h2 {
    font-family: $font-family-base;
    font-size: 2.125rem;
    font-weight: 700;
}

p {
    margin: 0;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;

    @include mq(md) {
        font-size: 2rem;
    }
}

.smalltitle {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

a {
    color: var(--brand-color-primary);
    text-decoration: none;

    @include hover-focus {
        color: var(--brand-color-primary-offset);
    }
}

blockquote {
    font-family: $font-family-serif;
    font-style: italic;
    padding-left: 2.25em;
    border-left: 10px solid var(--border-color);

    footer {
        font-family: $font-family-sans-serif;
        text-align: right;
        font-size: 0.875em;
    }
}

.bookmarklet {
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $brand-color-secondary !important;
    background-color: rgba($brand-color-secondary, 0.25);
    color: $brand-color-secondary;
    box-shadow: none !important;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    @include hover-focus {
        color: darken($brand-color-secondary, 10%) !important;
        background-color: rgba($brand-color-secondary, 0.3);
        outline: 0;
    }

    &:active {
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
