h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
}

h1 {
    font-size: 2.5rem;
    font-family: $font-family-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: 2.125rem;
    font-weight: 700;
}

p {
    margin: 0;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;

    @include mq(md) {
        font-size: 2rem;
    }
}

.smalltitle {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

a {
    color: $brand-primary;
    text-decoration: none;

    @include hover-focus {
        color: $brand-primary-offset;
    }
}

blockquote {
    font-family: $font-family-serif;
    font-style: italic;
    padding-left: 2.25em;
    border-left: 10px solid var(--border-color);

    footer {
        font-family: $font-family-sans-serif;
        text-align: right;
        font-size: 0.875em;
    }
}
