.sr-only {
    @include sr-only();
}

.sr-only-focusable {
    @include sr-only-focusable();
}

.sr-skip-link {
    @include sr-only();
    @include sr-only-focusable();

    &:focus {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 1rem;
        transform: translateX(-50%);
        background-color: var(--color-text);
        color: var(--color-bg);
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 1rem 1.5rem;
    }
}

.u-align-center {
    text-align: center !important;
}
.u-align-right {
    text-align: right !important;
}
.u-align-middle {
    display: inline-flex;
    align-items: center;
}

.u-mb2 {
    margin-bottom: 2rem !important;
}
.u-mt2 {
    margin-top: 2rem !important;
}
