{% set featured_blog = blogroll | random %}

<div class="blogroll">
    <div class="blogroll__profile">
        <div class="blogroll__header">
            <h4 class="blogroll__title">{{ featured_blog.title }}</h4>
            <a class="blogroll__link" href="{{ featured_blog.url }}">{{ featured_blog.url }}</a>
        </div>
        {% if featured_blog.twitter %}
            <img src="https://avatars.io/twitter/{{ featured_blog.twitter }}" class="blogroll__avatar" width="150" height="150" alt="" />
        {% endif %}
    </div>

    {% if featured_blog.description %}
        <p class="blogroll__desc">{{ featured_blog.description }}</p>
    {% endif %}

    <a class="blogroll__arrow" href="{{ featured_blog.url }}">
        {% icon "external" %}
        <span class="sr-only">Read More</span>
    </a>
</div>