<div class="featuredposts">
    <ul class="featuredposts__list">
        {% for post in collections.featured | slice(0, 8) %}
        {%- set webmentionUrl -%}{{ post.url | url | absoluteUrl(site.url) }}{%- endset -%}
        {%- set likeCount = webmentions.children | webmentionCountByType(webmentionUrl, "like-of") -%}
        <li class="featuredposts__item">
            <div class="featuredpost" style="{% if post.data.featuredImageColor %}background-color: {{ post.data.featuredImageColor }};{% endif %}">
                {% if post.data.featuredImage %}
                    {% set imgsrc %}/assets/images/featured/{{ post.data.featuredImage }}{% endset %}
                    <picture>
                        <source srcset="{{ imgsrc | setExt('avif') }}" type="image/avif">
                        <source srcset="{{ imgsrc | setExt('webp') }}" type="image/webp">
                        <source srcset="{{ imgsrc }}" type="image/jpeg">
                        <img src="{{ imgsrc }}" alt="" width="500" height="500" class="featuredpost__image" />
                    </picture>
                {% endif %}
                <div class="featuredpost__inner">
                    <a href="{{ post.url | url }}" class="featuredpost__link">
                        <span class="featuredpost__title">{{ post.data.title }}</span>
                    </a>
                    <p class="featuredpost__description">
                        {% if post.data.description %}
                            {{ post.data.description }}
                        {% else %}
                            {{ post.templateContent | excerpt | striptags }}
                        {% endif %}
                    </p>
                    <span class="featuredpost__likecount" aria-label="{{ likeCount }} Likes">
                        {% icon "heart" %} {{ likeCount|humanizeNumber }}
                    </span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <p class="featuredposts__footer">
        <a href="/blog" class="featuredposts__see-all">See All Posts {% icon "arrow-right" %}</a>
    </p>
</div>