<footer class="footer h-card" role="contentinfo">
    <div class="footer__inner container">
        <p class="footer__item">
            <strong>&copy; 2012&ndash;{{ build.timestamp | dateToFormat('yyyy') }}</strong><br />
            <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ author.name }}</a>
        </p>

        <p class="footer__item">
            <strong>Subscribe</strong><br />
            <a href="/mailinglist">Mailing List</a>
        </p>

        <p class="footer__item">
            <strong>Social</strong><br />
            <a href="{{ author.social.twitter.url }}" title="Twitter" rel="me">Twitter</a> /
            <a href="{{ author.social.github.url }}" title="Github" rel="me">Github</a>
        </p>

        <p class="footer__item">
            <strong>Legal</strong><br />
            <a href="/privacy/">Privacy Policy</a>
        </p>

        <p class="footer__item">
            <strong>Links</strong><br />
            <a href="/blogroll/">Blogroll</a>
        </p>

        {#
        <p class="footer__item">
            <strong>Stats</strong><br />
            <speedlify-score speedlify-url="https://www.11ty.dev/speedlify" hash="7dda0135" score weight rank rank-change></speedlify-score>
        </p>
        #}

        <p class="footer__item footer__item--right">
            <a href="{{ site.repo }}/tree/master/{{ page.inputPath }}" class="footer__icon" title="Edit this page on Github">
                <span class="sr-only">Edit this page on Github</span>
                {% icon "github" %}
            </a>
            <a href="{{ "/feed.xml" | url }}" class="footer__icon" title="RSS Feed">
                <span class="sr-only">RSS Feed</span>
                {% icon "feed" %}
            </a>
        </p>

    </div>
</footer>