{# SEO Stuff #}
{% include 'seo.njk' %}

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png?v=1' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png?v=1' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png?v=1' | url }}" sizes="16x16">
<link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg?v=1' | url }}" color="#1a1a1a">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico?v=1' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#1a1a1a">

{# RSS Feeds #}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/notes/feed.xml" title="{{ site.title }} | Notes">

{# Indie Auth & Web Monetization #}
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
<meta name="monetization" content="$ilp.uphold.com/7qZLaNKjDa87">

{# Webmentions #}
<link rel="pingback" href="https://webmention.io/mxb.dev/xmlrpc">
<link rel="webmention" href="https://webmention.io/mxb.dev/webmention">

{# 11ty <3 #}
<meta name="generator" content="{{ eleventy.generator }}">