<ol reversed class="postlist" start="{{ postlist.length }}">
    {% for post in postlist | reverse %}
        <li class="postlist__item h-entry {% if post.data.draft %}postlist__item--draft{% endif %}">
            <h2 class="postlist__title p-name">
                <a
                    href="{{ post.url | url }}"
                    class="postlist__link u-url"
                    rel="bookmark"
                >
                    {{ post.data.title }}
                </a>
            </h2>

            <div class="postlist__meta">
                <time class="postlist__date dt-published" datetime="{{ post.date | dateToISO }}">
                    {{ post.date | readableDate('dd LLL yyyy') }}
                </time>

                {% if post.data.tags %}
                    <span aria-hidden="true">&sdot;</span>
                    <span class="postlist__tags p-category">
                        {{ post.data.tags|join(', ') }}
                    </span>
                {% endif %}

                {% if post.data.draft %}
                    <span aria-hidden="true">&sdot;</span>
                    <span class="postlist__status">(Draft)</span>
                {% endif %}
            </div>

            <p class="postlist__excerpt p-summary">
            {% if post.data.description %}
                {{ post.data.description }}
            {% else %}
                {{ post.templateContent | excerpt | striptags }}
            {% endif %}
            </p>
        </li>
    {% endfor %}
</ol>