<form action="/.netlify/functions/publish" accept-charset="UTF-8" method="POST">
    <fieldset>
        <legend>Link Info</legend>
        <ul class="fields">
            <li class="fields__group fields__group--text">
                <label for="p_title">Title</label>
                <input id="p_title" name="title">
            </li>
            <li class="fields__group fields__group--url">
                <label for="p_link">URL</label>
                <input type="url" id="p_link">
            </li>
            <li class="fields__group fields__group--text">
                <label for="p_source">Source</label>
                <input id="p_source">
            </li>
            <li class="fields__group fields__group--textarea">
                <label for="p_body">Want to tweet something specific?</label>
                <textarea id="p_tweet" maxlength="200"></textarea>
            </li>
            <li class="fields__group fields__group--textarea">
                <label for="p_body">What do you want to say?</label>
                <textarea id="p_body"></textarea>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Did you find this link via someone?</legend>
        <ul class="fields">
            <li class="fields__group fields__group--text">
                <label for="p_via_name">Name</label>
                <input id="p_via_name">
            </li>
            <li class="fields__group fields__group--url">
                <label for="p_via_url">URL</label>
                <input type="url" id="p_via_url">
            </li>
        </ul>
    </fieldset>
    <p>
        <button type="submit">Publish</button>
    </p>
    <details id="config">
        <summary>Config</summary>
        <ul class="fields">
            <li class="fields__group fields__group--text">
                <label for="username">Username</label>
                <input id="username" name="username">
            </li>
            <li class="fields__group fields__group--password">
                <label for="password">Token</label>
                <input type="password" id="password" name="password">
            </li>
        </ul>
    </details>
</form>