<div class="topbanner" data-nosnippet>
    <div class="container">
        <p>✊🏾 &nbsp;<a href="https://blacklivesmatter.com/">Black Lives Matter</a> &ndash; Educate yourself about systemic racism and how to help black people in your area.</p>
    </div>
</div>