{% set absolutePostUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
{% set mentions = webmentions.children | webmentionsByUrl(absolutePostUrl) %}

<div
    class="webmentions{% if layout == 'note' %} webmentions--expanded{% endif %}" 
    id="webmentions"
    data-last-fetched="{{ webmentions.lastFetched }}"
>
    {% if mentions | length %}
        <div class="webmentions__header">
            <a href="#webmentions" class="webmentions__toggle">
                {% icon "message" %} Show All ({{ mentions | length }})
            </a>
        </div>
        <div class="webmentions__content">
            <ol class="webmentions__list">
            {% for webmention in mentions | reverse %}
                <li class="webmentions__item">
                    {% include 'webmention.njk' %}
                </li>
            {% endfor %}
            </ol>
        </div>
    {% else %}
        <p>No mentions yet.</p>
    {% endif %}
</div>