{%- set mentions = webmentions.children | webmentionsByUrl(webmentionUrl) -%}
<div
    class="webmentions{% if mentions|length > 5 %} webmentions--truncated{% endif %}" 
    id="webmentions"
    data-url="{{ webmentionUrl }}"
    data-last-fetched="{{ webmentions.lastFetched }}"
>
    <div data-render-root>
        {% if mentions|length %}

            <div class="webmentions__preview">
                <ol class="webmentions__list">
                {% for webmention in mentions | slice(0, 5) %}
                    <li class="webmentions__item">
                        {% include 'webmention.njk' %}
                    </li>
                {% endfor %}
                </ol>
            </div>

            {% if mentions|length > 5 %}
            <div>
                <a class="webmentions__showall" href="#webmentions">
                    {% icon "message" %} Show All Webmentions ({{ mentions|length }})
                </a>

                <div class="webmentions__content">
                    <ol class="webmentions__list">
                    {% for webmention in mentions | slice(5) %}
                        <li class="webmentions__item">
                            {% include 'webmention.njk' %}
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
            {% endif %}

        {% else %}
            <p class="webmentions__empty">No webmentions yet.</p>
        {% endif %}
    </div>
</div>