.about {
    &__header {
        margin-bottom: 2rem;
    }
    &__photo {
        position: relative;
        display: block;
        padding-bottom: 75%;
        margin-bottom: 2rem;

        .responsive-image {
            object-position: 0 50%;
            background-position: left center;
        }
    }
    &__intro {
        max-width: 54rem;

        p {
            margin-bottom: 1rem;
        }
    }
    &__social {
        list-style-type: none !important;

        .icon {
            font-size: 1.25rem;
            margin-right: 1.25rem;
        }
    }

    @include mq(lg) {
        &__header {
            display: flex;
            align-items: center;
            margin: 0 calc(50% - 50vw) 3rem;
        }
        &__photo {
            width: 40%;
            padding-bottom: 450px;
            margin: 0;
        }
        &__intro {
            flex: 1 1 60%;
            padding: 2rem 3rem;
        }
        &__content {
            @include container-narrow;
        }
    }
}
