// Alert Component

$state-success: #43a9a3;
$state-error: #d81e05;

.alert {
    font-size: 0.875rem;
    position: relative;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: 1rem;

    .icon {
        margin-right: 0.5rem;
        transform: translateY(-10%);
    }

    // Variations
    &--success {
        color: darken($state-success, 10%);
        border-color: lighten($state-success, 15%);
        background-color: lighten($state-success, 50%);
    }
    &--error {
        color: darken($state-error, 10%);
        border-color: lighten($state-error, 20%);
        background-color: rgba($state-error, 0.2);
    }
}
