.blogroll {
    position: relative;

    &__title {
        font-size: 1.375rem;
        font-weight: 400;
    }
    &__desc {
        margin-top: 1rem;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        margin-top: 1rem;
        border-radius: 50%;
        color: $text-color;
        color: var(--text-color);
        background-color: $bg-color-secondary;
        background-color: var(--bg-color-secondary);

        &:hover {
            color: $bg-color;
            color: var(--bg-color);
            background-color: $brand-color-primary;
            background-color: var(--brand-color-primary);
        }
    }

    @include mq(md) {
        padding-right: 5rem;

        &__arrow {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
        }
    }
}
