.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: all 0.2s ease-in-out;
    font-size: 0.875rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;

    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
    }
}

.btn--primary {
    background-color: var(--color-primary);
    border-color: transparent;
    color: #fff;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;

    @include hover-focus {
        color: #fff;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 50, 0.1),
            0 3px 6px rgba(0, 0, 0, 0.08);
        background-color: var(--color-primary-offset);
    }

    &:active {
        background-color: var(--color-primary-offset);
        transform: translateY(1px);
        box-shadow: 0 3px 12px -2px inset rgba(50, 50, 50, 0.25);
    }
}

.btn--twitter {
    background-color: $twitter-brand-primary;
    border-color: #1da1f2;
    color: #fff;

    .icon {
        transform: translateX(-50%);
    }

    @include hover-focus {
        color: #1da1f2;
        background-color: transparent;
    }
}

.btn--mastodon {
    background-color: #595aff;
    border-color: #595aff;
    color: #fff;

    .icon {
        transform: translateX(-50%);
    }

    @include hover-focus {
        color: #595aff;
        background-color: transparent;
    }
}

.iconbtn {
    @include button-reset;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: var(--color-text);
    background-color: var(--color-bg-offset);

    .icon {
        margin: auto; // iOS Safari compat
    }

    @include hover-focus {
        filter: brightness(0.95) saturate(140%);
    }
}
