.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: all 0.2s ease-in-out;
    font-size: 0.875rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;

    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
    }
}

.btn--primary {
    background-color: var(--color-primary);
    border-color: transparent;
    color: #fff;

    @include hover-focus {
        color: #fff;
        background-color: var(--color-primary-offset);
    }
}

.btn--twitter {
    background-color: $twitter-brand-primary;
    border-color: #1da1f2;
    color: #fff;

    .icon {
        transform: translateX(-50%);
    }

    @include hover-focus {
        color: #1da1f2;
        background-color: transparent;
    }
}

.iconbtn {
    @include button-reset;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: var(--color-text);
    background-color: var(--color-bg-offset);

    @include hover-focus {
        filter: brightness(0.95) saturate(140%);
    }
}
