.callout {
    --callout-color: currentColor;

    position: relative;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid var(--color-border);
    border-left: 0;
    background-color: var(--color-bg-offset);
    text-align: left;

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        padding: 0.25rem;
        color: var(--callout-color);
        background-color: var(--color-bg);
        margin-left: 2px;
    }
    &__content {
        padding: 1rem;
        border-left: 4px solid var(--callout-color);

        > * + * {
            margin-top: 2rem;
        }

        @include mq(md) {
            padding-left: 2rem;
        }
    }

    &--warning,
    &--action {
        --callout-color: var(--color-primary);
    }
    &--tip,
    &--info {
        --callout-color: var(--color-secondary);
    }
}
