.footer {
    font-size: 0.875rem;
    padding: 2rem 0;
    border-top: 1px solid var(--color-border);

    a,
    button {
        color: var(--text-color);
        text-decoration: underline;

        @include hover-focus {
            text-decoration: none;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        flex-basis: 50%;
        margin-bottom: 0.5rem;

        &--right {
            flex-basis: 100%;
            margin-bottom: 0;
        }
    }

    &__icon {
        @include button-reset;
        display: inline-block;

        & + & {
            margin-left: 1rem;
        }
    }

    &__speedlify {
        text-decoration: none !important;
    }

    @include mq(md) {
        &__inner {
            flex-wrap: nowrap;
        }
        &__item {
            flex: 0 0 auto;
            padding-right: 2.5rem;
            margin: 0;

            &--right {
                margin-left: auto;
                padding-right: 0 !important;
            }
        }
    }

    @include mq(lg) {
        &__item {
            padding-right: 4rem;
        }
    }
}
