.form {
    width: 100%;

    &__fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 2rem;

        @include mq(md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__field {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--full {
            grid-column: 1 / -1;
        }
    }
    &__label {
        display: block;
        font-weight: 700;
        font-size: 0.875rem;
    }
    &__input {
        display: block;
        width: 100%;
        background-color: $gray-lightest;
        border: 1px solid $gray;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
    }
    &__checkbox {
        margin-right: 0.25rem;
    }
    &__settings {
        margin: 1rem 0;
    }
    &__actions {
        text-align: right;
        overflow: hidden;
    }
}
