.header {
    padding: 1rem 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-weight: 700;
    }

    &__avatar {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    &__verification {
        color: #1da1f2;
        padding-left: 0.25em;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    // Theme Button
    &__themebtn {
        display: none;
        order: -1;
        margin-right: 1rem;

        @supports (color: var(--fake-var)) {
            display: flex;
        }
        @include mq(md) {
            margin-right: 2rem;
        }
        @include mq(lg) {
            order: initial;
            margin-left: 1rem;
            margin-right: 0;
        }
    }

    @include mq(md) {
        padding: 3.125rem 0;
    }
}
