.header {
    padding: 2rem 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        display: flex;
        align-items: center;
        color: inherit;

        @include hover-focus {
            color: inherit;
        }

        &__avatar {
            display: block;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
        &__text {
            font-weight: 700;
        }
    }

    @include mq(md) {
        padding: 3.125rem 0;
    }
}
