.hero {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 4rem;

    &__title {
        line-height: 1.2;

        @include mq(md) {
            font-size: 4.5rem;
        }
    }
    &__pretitle {
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
    }
}
