.markdown {
    @include body-text();

    /* Vertical Rythm */
    > * {
        margin-bottom: 2rem;
    }

    a {
        @include hyphenate;
    }

    /* In-Text Links */
    p,
    li {
        a:not(.btn) {
            box-shadow: inset 0 -2px 0 0 currentColor;
            border-bottom: 1px solid currentColor;

            @include hover-focus {
                color: #fff;
                box-shadow: inset 0 -1.25em 0 0 $brand-color-primary;
                box-shadow: inset 0 -1.25em 0 0 var(--brand-color-primary);
                outline: none;
            }
        }
    }

    /* Images */
    img,
    video {
        display: block;
        max-width: 100%;
        margin: 0 auto 2rem;
        color: $gray;
        font-style: italic;
        text-align: center;
    }

    figure {
        max-width: none;
        margin: 2rem auto;
        text-align: center;

        img {
            margin-bottom: 0;
        }
    }

    figcaption {
        padding-top: 0.75rem;
        font-style: italic;
        font-size: 1rem;
    }

    /* Video */
    video {
        max-width: 100%;
        height: auto;
    }

    /* Rules */
    hr {
        border: 0;
        border-bottom: 1px $border-color;
        border-bottom: 1px solid var(--border-color);
        margin: 2rem 0;
    }

    /* Headings */
    h2,
    h3,
    h4 {
        margin-top: 1.5em;
        margin-bottom: 0.75em;

        &:first-child {
            margin-top: 0;
        }
    }

    /* Lists */
    ul,
    ol {
        list-style-position: inside;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }

    /* Code blocks */
    pre[class*='language-'] {
        display: block;
        font-size: 1rem;
        padding: 2rem 1.5rem;
        margin: 2rem calc(50% - 50vw);
        overflow-x: auto;

        > code {
            @include container-narrow;
            display: block;
        }

        @include mq(lg) {
            padding: 2rem 3rem;
        }
    }

    /* Inline code */
    :not(pre) > code {
        display: inline-block;
        font-family: $font-family-monospace;
        background-color: $bg-color-secondary;
        background-color: var(--bg-color-secondary);
        border: 1px solid $border-color;
        border: 1px solid var(--border-color);
        border-radius: $border-radius;
        padding: 2px 4px;
        margin: 0 2px;
        font-size: 75%;
    }

    /* Embedded Tweets */
    .twitter-tweet-rendered {
        margin: 0 auto 2rem !important;
    }

    /* Basic Styles Before the JS is loaded */
    blockquote.twitter-tweet {
        display: block;
        margin: 0 auto 2rem;
        padding: 1rem;
        max-width: 550px;

        border-color: #eee #ddd #bbb;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;

        font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;

        p {
            margin-bottom: 1rem;
            font-size: 1.125rem;
            font-weight: normal;
            line-height: 1.35;
        }

        a {
            color: $twitter-brand-primary;
            box-shadow: none;
            border: none;

            @include hover-focus {
                color: $twitter-brand-primary;
                text-decoration: underline;
                box-shadow: none;
            }
        }
    }

    /* Extends */
    .extend {
        @include mq(lg) {
            margin-left: -3rem;
            margin-right: -3rem;
        }
    }
}
