.page {
    &__header {
        padding: 2rem 0;
    }
    &__subtitle {
        @extend .lead;
    }
    &__content {
        @include container-narrow;
        padding-bottom: 2rem;

        &--fullwidth {
            max-width: none;
        }
    }

    @include mq(md) {
        &__header {
            padding: 4rem 0;
            text-align: center;
        }
        &__title {
            font-size: 5rem;
            letter-spacing: -2px;
        }
        &__content {
            padding-bottom: 4rem;
        }
    }

    @include mq(lg) {
        &__header {
            padding: 5rem 0;
        }
        &__title {
            font-size: 7rem;
        }
    }
}
