.postlist {
    @include container-narrow;

    &__item {
        margin-bottom: 3rem;

        @include mq(md) {
            margin-bottom: 5rem;
        }
    }
    &__link {
        display: block;

        .postlist__item--draft & {
            color: var(--color-secondary);
        }
    }
    &__title {
        margin-bottom: 0;
    }
    &__meta {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        color: var(--color-text-offset);
    }
    &__tags {
        font-family: Georgia, Times, serif;
        text-transform: uppercase;
        font-size: 0.875em;
        letter-spacing: 3px;
    }
    &__status {
        font-weight: 700;
        color: var(--color-secondary);
    }
    &__excerpt {
        @include body-text();
    }
}
