.post {
    &__header {
        @extend .page__header;
    }
    &__title {
        @extend .page__title;
        @include mq(lg) {
            font-size: 5.5rem !important;
        }
    }
    &__meta {
        font-size: 1rem;
        margin: 1rem 0;
        color: var(--text-color-secondary);

        @include mq(md) {
            font-size: 1.25rem;
        }
    }
    &__tags {
        font-family: $font-family-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    &__status {
        font-weight: 700;
        color: var(--brand-color-secondary);
    }
    &__demo {
        margin-left: 2rem;
    }
    &__content {
        @include container-narrow;
    }
    &__footer {
        @include container-narrow;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2rem auto;

        &__info {
            margin: 1rem 0;
            color: $gray;
            font-style: italic;
        }
    }
}

.postsection {
    @include container-narrow;
    padding: 2rem 0;
    border-top: 1px solid var(--border-color);

    &__title {
        @extend .smalltitle;
        margin-bottom: 1rem;
    }
}
