.responsive-image {
    @include coverall;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    // on IE, these are divs with background-image style
    &--fallback {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
