.themepicker {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    background-color: var(--color-bg-offset);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.4s $animation-curve-default;

    &.is-open {
        max-height: 11rem;
    }

    &__title {
        font-family: $font-family-sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 2rem 1.5rem 0;
    }

    &__list {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        text-align: center;
        -webkit-overflow-scrolling: touch;
        padding: 1rem 1.5rem 2rem;
        scrollbar-color: var(--color-border) var(--color-bg-offset);

        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--color-border);
        }
        &::-webkit-scrollbar-track {
            background: var(--color-bg-offset);
        }
    }

    &__item {
        display: inline-block;
        position: relative;
        border-radius: 0.5em;
        transform: scale(1);
        transition: transform 0.2s $animation-curve-default;

        & + & {
            margin-left: 1rem;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: $box-shadow;
            z-index: 1;
        }
        &.is-active {
            z-index: 1;
            transform: scale(1);
            box-shadow: 0 0 0 2px var(--color-primary) !important;
        }

        &.is-active::after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 12px 10px;
            border-color: transparent transparent var(--color-primary)
                transparent;
            transform: translate(-50%, 1.25rem);
        }
    }

    &__btn {
        display: block;
        padding: 1em;
        border-radius: 0.5em;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        text-align: center;
        background-color: var(--color-bg);
    }
    &__name {
        display: block;
        color: var(--color-text);
    }
    &__palette {
        display: block;
        padding: 0.125em 0;
    }
    &__hue {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        white-space: nowrap;
        text-indent: 100%;
        text-align: left;
        overflow: hidden;
        vertical-align: bottom;
        box-shadow: 0 0 0 2px #ffffff;

        &--primary {
            background-color: var(--color-primary);
        }
        &--secondary {
            background-color: var(--color-secondary);
        }
        &--border {
            background-color: var(--color-border);
        }
        &--textoffset {
            background-color: var(--color-text-offset);
        }
        &--text {
            background-color: var(--color-text);
        }

        & + & {
            margin-left: -0.3125em;
        }
    }

    &__close {
        display: flex;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.125rem;
    }
}
