.webmention {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0 1rem 60px;

    &--own {
        background-color: var(--color-bg-offset);
        border-radius: 0.5rem;
    }

    &__meta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        order: -1;
        font-size: 0.875rem;

        &__divider {
            display: inline-block;
            padding: 0 0.25rem;
        }
    }
    &__content {
        a:hover {
            text-decoration: underline;
        }
    }
    &__author {
        font-size: 1rem;
        color: var(--text-color);

        &__photo {
            position: absolute;
            top: 1rem;
            left: 0;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__pubdate {
        color: var(--color-text-offset);
    }

    a.u-mention,
    a:empty {
        display: none;
    }
}

// WM Section
.webmentions {
    &__preview {
        position: relative;
    }
    &__item {
        margin-bottom: 1rem;
    }
    &__showall {
        display: flex;
        align-items: center;

        @include hover-focus {
            text-decoration: underline;
        }

        .icon {
            margin-right: 0.25rem;
        }
    }
}

.webmentions--truncated {
    .webmentions__preview::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5rem;
        background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            var(--color-bg) 75%
        );
    }
    .webmentions__content {
        display: none;
    }
}

// Expand when targeted
#webmentions:target,
.webmentions--expanded {
    .webmentions__showall {
        display: none;
    }
    .webmentions__content {
        display: block;
    }
    .webmentions__preview::after {
        display: none;
    }
}
