.webmention {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0 1rem 60px;

    &--own {
        background-color: rgba($gray-light, 0.1);
        border-radius: 0.5rem;
    }

    &__meta {
        order: -1;
        font-size: 0.875rem;
        color: $gray;

        &__divider {
            display: inline-block;
            padding: 0 0.125rem;
        }
    }
    &__author {
        font-size: 1rem;
        color: $body-color;

        &__photo {
            position: absolute;
            top: 1rem;
            left: 0;
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }
    }

    a.u-mention,
    a:empty {
        display: none;
    }
}

// WM Section
.webmentions {
    &__toggle,
    &__info {
        display: block;
    }
    &__toggle {
        flex: 1;
        margin-right: 1rem;
    }
    &__info {
        color: $gray-light;
        @include hover-focus {
            color: $gray-darker;
        }
    }
    &__content {
        display: none;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item:not(:last-child) {
        margin-bottom: 1rem;
    }
}
// Expand when targeted
#webmentions:target,
.webmentions--expanded {
    .webmentions__header {
        display: none;
    }
    .webmentions__content {
        display: block;
    }
}
