.webmention {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0 1rem 60px;

    &--own {
        background-color: var(--bg-color-secondary);
        border-radius: 0.5rem;
    }

    &__meta {
        order: -1;
        font-size: 0.875rem;

        &__divider {
            display: inline-block;
            padding: 0 0.125rem;
        }
    }
    &__author {
        font-size: 1rem;
        color: inherit;

        &__photo {
            position: absolute;
            top: 1rem;
            left: 0;
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }
    }
    &__pubdate {
        color: $gray;
    }

    a.u-mention,
    a:empty {
        display: none;
    }
}

// WM Section
.webmentions {
    &__toggle,
    &__info {
        display: block;
    }
    &__toggle {
        margin-right: 1rem;
    }
    &__info {
        display: flex;
        align-items: center;
        color: var(--text-color-secondary);

        @include hover-focus {
            color: var(--text-color);
        }
    }
    &__content {
        display: none;
    }
    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__faces {
        display: flex;
        flex: 1 0 auto;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        margin-right: 1rem;

        &__img,
        &__more {
            display: block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            flex: none;
        }
        &__more {
            font-size: 0.75rem;
            line-height: 2rem;
            text-align: center;
            background-color: var(--bg-color-secondary);
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 1rem;
    }
}
// Expand when targeted
#webmentions:target,
.webmentions--expanded {
    .webmentions__header {
        display: none;
    }
    .webmentions__content {
        display: block;
    }
}
