<!DOCTYPE html>
<html class="no-js" lang="en">
<!--!
  Oh so you're an inspector?
  View the source here: {{ site.repo }}
-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%- if title -%}{{ title }} | {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
        <link rel="preload" href="{{ '/assets/fonts/noe-display-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>

        {% if build.env == 'dev' %}
            <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
        {% else %}
            <link rel="stylesheet" href="{{ '/assets/css/main.min.css' | url }}">
        {% endif %}

        {% include "meta.njk" %}
    </head>
    <body>
        <!--[if lte IE 9]>
        <div class="legacy-warning">
            <div class="container">
                Seems like your browser is quite outdated. Why not <a href="http://browsehappy.com/">
                upgrade to a modern one</a> for free and improve your experience?
            </div>
        </div>
        <![endif]-->

        <a href="#main" class="sr-skip-link">skip to main content</a>

        <div class="hfeed layout" role="document">
            {% include "header.njk" %}

            <main class="main container" role="main" id="main" tabindex="-1">
                {{ content | safe }}
            </main>

            {% include "footer.njk" %}
        </div>

        {% if build.env == 'dev' %}<script>window.env = 'dev';</script>{% endif %}

        {# Main JS Bundle #}
        <script src="{{ '/assets/js/bundle.min.js' | url }}" defer></script>

        {# Include additional scripts on post pages #}
        {% if layout == 'post' %}
            <script src="//platform.twitter.com/widgets.js" async defer></script>
        {% endif %}

        <!--! LAST BUILD: {{ build.timestamp | iso }} -->
    </body>
</html>