---
layout: base
---
{% set absolutePostUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
{% set likeCount = webmentions.children | webmentionCountByType(absolutePostUrl, "like-of") %}
{% set repostCount = webmentions.children | webmentionCountByType(absolutePostUrl, "repost-of") %}

<div class="note note--detail h-entry">
    <div class="note__meta">
        <a class="note__author u-author" href="{{ site.url }}">
            <img class="note__author__photo u-photo" src="{{ author.avatar | url }}" alt="">
            <strong class="note__author__name">{{ author.name }}</strong>
        </a>
        <span class="note__meta__divider">&sdot;</span>
        <time class="note__date dt-published" datetime="{{ page.date | iso }}">
            {{ page.date | readableDate }}
        </time>
    </div>
    <div class="note__content">
        <div class="p-name p-content markdown">
            {{ content | safe }}
        </div>
    </div>
    <div class="note__stats">
        {% icon "heart" %}{{ likeCount }}
        {% icon "repost" %}{{ repostCount }}
    </div>
    <div class="note__webmentions">
        {% include 'webmentions.njk' %}       
    </div>
</div>