
# Example for a .env configuration file
# Replace with your values, then rename to `.env`

WEBMENTION_IO_TOKEN=YourWebmentionIOTokenHere
TWITTER_CONSUMER_KEY=0YHRNfqWjvNNdadSni4ZU7N8O
TWITTER_CONSUMER_SECRET=K0Cl0OR8fEGXogBYPyD9I6FCQhqWwiz2BasmDMh66bO1qBG3bc
TWITTER_ACCESS_TOKEN_KEY=13265572-v05LL5SBkuJYndE30Q8UPg78y1gXviRx2urPXYMv2
TWITTER_ACCESS_TOKEN_SECRET=7zjzalA46LtVwSn6uVY3GuL4XAt8e11C8OdJyOy32qdjh
