@import "../_assets/styles/utils/var";
@import "../_assets/styles/utils/mixins";

/* huber project specific css */

.header__inner::after {
  content:"";
  display:none;
  width:265px;
  height: 500px;
  position:absolute;
  top:0;
  left:7%;
  z-index:1;

  background:transparent url(/project/weingut-huber/images/vine-side.png) no-repeat 0 0;
  background-size: 265px 500px;

  @include mq(lg){
    display:block;
  }
}