{# Favicon #}

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">

<link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | url }}" color="#1a1a1a">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">

<link rel="manifest" href="{{ '/manifest.json' | url }}">
<meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">
<meta name="theme-color" content="#1a1a1a">

{# RSS Feed #}