{% set absolutePostUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
{% set webmentionsForPost %}{{ webmentions | webmentionsForUrl(absolutePostUrl) }}{% endset %}

{% set mentions %}{{ webmentionsForPost | webmentionsForType('mention-of', 'in-reply-to') }}{% endset %}
{% set likes %}{{ webmentionsForPost | webmentionsForType('like-of') }}{% endset %}
{% set shares %}{{ webmentionsForPost | webmentionsForType('repost-of') }}{% endset %}

<section class="webmentions" id="webmentions">
    <h3 class="webmentions__title">Webmentions</h3>
    <a href="#webmentions" class="webmentions__toggle">
        {% icon "message" %}
        {{ mentions | length }} Mentions<br />
        {{ likes | length }} Mentions<br />
        {{ shares | length }} Mentions<br />
    </a>
    <div class="webmentions__panel">

    </div>
</section>