---
layout: base
tags: nav
title: About Me
navtitle: About
navorder: 4
permalink: about/index.html
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/adelle-charles-800.jpg' | url }}"
                        srcset="{{ '/assets/images/adelle-charles-800.jpg' | url }} 800w,
                        {{ '/assets/images/adelle-charles-1600.jpg' | url }} 1600w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Adelle Charles"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I’m Adelle Charles, VP of UX/Design at Bitly, based out of our New York HQ.</p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
              <p>I lead the Design and User Experience Research team at <a href="http://bitly.com" title="Bitly">Bitly</a> focusing on the end-to-end customer experience of product design and brand/marketing design.</p>

              <p>Prior to Bitly, Adelle was Head of Design at <a href="http://soundcloud.com" title="SoundCloud">SoundCloud</a>. In 2009, she co-founded <a href="http://carbonads.net" title="Carbon Ads">Carbon Ads</a>, an invite only, targeted Ad network that grew to reach over 20 million creative professionals through over 200 publishers before it was acquired by Buy Sell Ads Inc in December of 2012. She also founded and was managing editor for the Fuel Brand Network, a group of web publications targeting creative professionals which was acquired by Design Crowd.</p>


                <h2>I like to read things...</h2>
                <p>
                    Here is what I'm reading right now...
                    <a href="https://adelle.co/bravenewwork" title="Brave New Work">Brave New Work</a>, by Aaron Dignan
                </p>

                <h2>Offline</h2>
                <p>
                    When I am not designing stuff or writing on the internets, I enjoy watching documentaries, reading books, cooking and <a href="https://adelle.co/Untappd" title="sampling beer">sampling beer</a>, mostly IPAs.
                </p>

                <h2>Online</h2>
                <ul class="about__social">
                    <li>{% icon "twitter" %}<a href="{{ author.social.twitter.url }}">Twitter</a></li>
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
