---
layout: base
tags: nav
title: About Me
navtitle: About
navorder: 4
permalink: about/index.html
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/adelle-charles-800.jpg' | url }}"
                        srcset="{{ '/assets/images/adelle-charles-800.jpg' | url }} 800w,
                        {{ '/assets/images/adelle-charles-1600.jpg' | url }} 1600w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Adelle Charles"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I’m Adelle Charles, VP of UX/Design at Bitly, based out of our New York HQ.</p>
                    <p>
                        I've been designing stuff on the web for the last xx (many) years.
                    </p>
                    <p>My focus is on creating engaging, accessible &amp; performant interfaces for humans.</p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
                <p>
                    I work at <a href="https://bitly.com">bitly</a>, I lead the Design and User Experience Research team.
                </p>

                <h2>I like to read things..</h2>
                <p>
                    Here are some of the few I've got open right now...
                    1
                    2
                </p>

                <h2>Offline</h2>
                <p>
                    When I am not designing stuff or writing on the internets, I enjoy watching documentaries, reading books, cooking and searching for the best IPAs around this area.
                </p>

                <h2>Online</h2>
                <ul class="about__social">
                    <li>{% icon "twitter" %}<a href="{{ author.social.twitter.url }}">Twitter</a></li>
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
