---
layout: base
tags: nav
title: Writing
eleventyNavigation:
  key: Writing
  order: 2
permalink: /blog/
---
<div class="page page--blog">
    <header class="page__header">
        <h1 class="page__title">{{ title }}</h1>
    </header>
    <div class="page__content">
        {%- set postlist = collections.posts -%}
        {% include "postlist.njk" %}
    </div>
</div>
