---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">I write stuff, sometimes.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Adelle</a></p>

        <div class="hero__content">
            <p>I lead the Design and User Experience Research team at [Bitly](http://bitly.com "Bitly") focusing on the end-to-end customer experience of product design and brand/marketing design.

Prior to Bitly, Adelle was Head of Design at [SoundCloud](http://soundcloud.com "SoundCloud"). In 2009, she co-founded [Carbon Ads](http://carbonads.net "Carbon Ads"), an invite only, targeted Ad network that grew to reach over 20 million creative professionals through over 200 publishers before it was acquired by Buy Sell Ads Inc in December of 2012. She also founded and was managing editor for the Fuel Brand Network, a group of web publications targeting creative professionals which was acquired by Design Crowd.<a href="https://simpleloop.com" class="hero__link hero__link--simpleloop">Simpleloop</a>, a software studio in Vienna. <br class="hero__br" />
            I also write about the web on my <a href="/blog" class="hero__link">Blog</a> and on <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>.</p>
        </div>
    </div>
</div>
