---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">I design stuff, sometimes.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Adelle</a></p>

        <div class="hero__content">
            <p>I'm the VP of Design and User Experience at <a href="https://bitly.com" class="hero__link hero__link--simpleloop">Bitly</a>, in New York City. <br class="hero__br" />
            I also write about design on my <a href="/blog" class="hero__link">Blog</a> and on <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>.</p>
        </div>
    </div>
</div>
