---
layout: base
tags: nav
title: Notes
eleventyNavigation:
  key: Notes
  order: 3
permalink: notes/{% if pagination.pageNumber %}{{ pagination.pageNumber }}/{% endif %}
pagination:
  data: collections.notes
  size: 10
  alias: notes
---

{# Inline these three icons because external svg symbols dont always render in dynamically injected content. #}
{%- set useInlineIcons = true -%}
<div style="display:none" hidden>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <symbol viewBox="0 0 24 24" id="icon-heart"><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></symbol>
        <symbol viewBox="0 0 24 24" id="icon-message"><path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/></symbol>
        <symbol viewBox="0 0 24 24" id="icon-repost"><path d="M7 7h10v3l4-4-4-4v3H5v6h2V7zm10 10H7v-3l-4 4 4 4v-3h12v-6h-2v4z"/></symbol>
        <symbol viewBox="0 0 24 24" id="icon-twitter"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></symbol>
    </svg>
</div>

<div class="page page--notes">
    <header class="page__header">
        <h1 class="page__title">{{ title }}</h1>
    </header>
    <div class="page__content">
        {% if notes | length %}
            <ol reversed class="notelist js-infinitescroll-container">
            {% for note in notes %}
                <li class="notelist__item js-infinitescroll-item">
                    {% include 'note.njk' %}
                </li>
            {% endfor %}
            </ol>

            <nav class="js-infinitescroll-pagination">
                {% if pagination.nextPageHref %}
                    <a
                        href="{{ pagination.nextPageHref }}"
                        class="js-infinitescroll-next"
                    >
                        next page
                    </a>
                {% endif %}
            </nav>
        {% else %}
            <p class="lead">No Notes yet.</p>
        {% endif %}
    </div>
</div>
