--- 
excludeFromSitemap: true 
permalink: share/index.html 
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Share on MXB</title>

        {% if build.env !== 'production' %}
            <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
        {% else %}
            <link rel="stylesheet" href="{{ '/assets/css/main.min.css' | url }}">
        {% endif %}

        <meta name="ROBOTS" content="noindex,nofollow">
        <meta name="robots" content="noindex">
    </head>
    <body>
        <div id="sharer-root"></div>
        <p>Bookmarklet: <a href="javascript:(function(){var title = document.getElementsByTagName('title')[0].innerHTML;title = encodeURIComponent(title);var selection = '';if (window.getSelection) {selection = window.getSelection().toString();} else if (document.selection &amp;&amp; document.selection.type != 'Control') {selection = document.selection.createRange().text;}selection = encodeURIComponent(selection);new_window=window.open('{{ page.url | url | absoluteUrl(site.url) }}?title='+title+'&amp;text='+selection+'&amp;url='+encodeURIComponent(document.location.href),'Sharer','resizable,scrollbars,status=0,toolbar=0,menubar=0,titlebar=0,width=640,height=600,location=0');})();">Share on MXB</a></p>

        <script>
        var assetUrls = {
            avatar: '{{ author.avatar | url }}'
        };
        </script>
        <script src="{{ '/assets/js/sharer.min.js' | url }}"></script>
    </body>
</html>