---
layout: page
title: Traveling
subtitle: "Places I've been to"
permalink: traveling/index.html
map: true
---

<div id="mapcontainer" class="map u-mb2"></div>

<ul class="maplocations">
{% for location in places.features %}
    <li>{{ location.properties.name }}, {{ location.properties.country }}</li>
{% endfor %}
</ul>

<script id="mapdata" type="application/json">{{ places | stringify | safe }}</script>