---
layout: base
eleventyExcludeFromCollections: true
---

<div class="page page--404">
    <header class="page__header">
        <h1 class="page__title">Nope</h1>
        <p class="page__subtitle">That’s a 404.</p>
    </header>
    <div class="page__content markdown">
        <p>Sorry about that - might be a typo in the URL, or maybe this page has moved? Anyway, enjoy this nice error page I made for you.</p>
        <p class="u-align-center"><a href="/" class="btn btn--primary">Nah, Go Back Home</a></p>
    </div>
</div>