---
permalink: '/assets/styles/themes.css'
eleventyExcludeFromCollections: true
---
{%- macro colorscheme(colors) -%}
    --color-bg: {{ colors.background }};
    --color-bg-offset: {{ colors.backgroundOffset }};
    --color-text: {{ colors.text }};
    --color-text-offset: {{ colors.textOffset }};
    --color-border: {{ colors.border }};
    --color-primary: {{ colors.primary }};
    --color-primary-offset: {{ colors.primaryOffset }};
    --color-secondary: {{ colors.secondary }};
{%- endmacro -%}

{%- set default = themes|findById('default') -%}
{%- set dark = themes|findById('dark') -%}

:root {
    {{ colorscheme(default.colors) }}
}

@media(prefers-color-scheme: dark) {
    :root {
        {{ colorscheme(dark.colors) }}
    }
}

{% for theme in themes %}
[data-theme='{{ theme.id }}'] {
    {{ colorscheme(theme.colors) }}
}
{% endfor %}

/* Rainbow Road Theme Extra Styles */

[data-theme='rainbow'] body {
    background-image: url("/assets/images/stars.gif");
    text-shadow: 0 0 2px;
}
[data-theme='rainbow'] .header__verification {
    animation: rainbow 1s linear infinite;
}

/* Lobster Theme Extra Styles */

[data-theme='lobster'] {
    --font-family-display: "Lobster", cursive;
    cursor: url("/assets/images/lobster-cursor.png"), auto;
}

[data-theme='lobster'] a,
[data-theme='lobster'] button {
    cursor: url("/assets/images/lobster-cursor-hover.png"), auto;
}

/* HN Theme Extra Styles */

[data-theme='hackernews'] {
    --font-size-root: 80%;
    --content-max-width: 50rem;
    --font-family-base: Verdana, Geneva, sans-serif;
    --font-family-display: Verdana, Geneva, sans-serif;
}

[data-theme='hackernews'] .featuredpost__title::after,
[data-theme='hackernews'] .postlist__link::after,
[data-theme='hackernews'] .post__title::after,
[data-theme='hackernews'] .otherposts__title::after {
    content: " considered harmful";
}