---
layout: base
tags: nav
title: About Me
navtitle: About
navorder: 4
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">{{ title }}</h1>
    </header>
    <div class="page__content">

        <p class="lead">I’m Max Böck, a frontend web developer based in Vienna, Austria. For the last ten years, I've been working with all sorts of clients, helping them build awesome things on the web.</p>

        <div>
            <h2>{% icon "wrench" %} Skills</h2>
            <ul>
                <li>HTML5 / CSS3 / Javascript ES6</li>
                <li>Sass / BEM</li>
                <li>React / Redux</li>
                <li>Sketch / Illustrator / Photoshop</li>
                <li>Webpack / Grunt / Gulp / other bear noises</li>
            </ul>
        </div>

        <div>
            <h2>{% icon "education" %} Education</h2>
            <dl>
                <dt>BSc Webdesign and Development</dt>
                <dd>2012, SAE Technology Institute Vienna</dd>

                <dt>AHS Matura</dt>
                <dd>2007, BRG/BORG St.P&ouml;lten</dd>
        
                <dt>First Certificate in English (A)</dt>
                <dd>2006, Cambridge Institute Vienna</dd>
            </dl>
        </div>

    </div>
</div>