---
layout: base
tags: nav
navtitle: Home
navorder: 1
---

<div class="hero fade-in">
    <div class="hero__inner container">
        <h1 class="hero__title">I make websites.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Max</a></p>

        <div class="hero__content">
            <p>I’m lead frontend developer at <a href="https://simpleloop.com" class="hero__link hero__link--simpleloop">Simpleloop</a>, a software studio in Vienna.<br class="hero__br" />
            I also write about the web on my <a href="/blog" class="hero__link">Blog</a> and on <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>.</p>
        </div>
    </div>
</div>

<section class="container">
    <ul class="projectlist">
        <li class="projectlist__item">
            <div class="project">
                <a href="#" target="_blank" rel="noopener noreferrer">

                </a>
            </div>
        </li>
    </ul>
</section>