---
layout: base
tags: nav
navtitle: Home
navorder: 1
---

<div class="hero fade-in">
    <div class="hero__inner container">
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Max</a></p>
        <h1 class="hero__title">
            <span class="hero__title__line">I'm a frontend developer in Vienna,</span> 
            <span class="hero__title__line">making things on the web.</span>
        </h1>
    </div>
</div>