---
layout: base
---
<div class="note h-entry">
    <div class="note__meta">
        <a class="note__author u-author" href="{{ site.url }}">
            <img class="note__author__photo u-photo" src="{{ author.avatar | url }}" alt="">
            <strong class="note__author__name">{{ author.name }}</strong>
        </a>
        <span class="note__meta__divider">&sdot;</span>
        <time class="note__date dt-published" datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time>
    </div>
    <div class="note__content">
        <div class="p-name p-content markdown">
            {{ content | safe }}
        </div>
    </div>
</div>